<section *ngIf="haveResults" class="container mt-5 mb-5">
    <div class="row mt-3">
        
        <app-filter
            *ngIf="haveResults"
            [recipesData]="recipesData"
            (newItemEvent)="filterList($event)"
        ></app-filter>

        <div *ngFor="let recipe of recipesData" class="col-lg-4 col-md-6 col-12">
            <article class="card mt-3">
                <img src='{{ recipe.strMealThumb }}' class="card-img-top" alt='{{ recipe.strMeal }}'>
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.strMeal }}</h5>
                    <app-tags [tags]="recipe.strTags"></app-tags>
                    <p class="card-text">{{ recipe.strInstructions | truncate:120 }}</p>
                    <a
                        routerLink="/recipe/{{ recipe.idMeal }}"
                        class="btn btn-primary me-3"
                    >
                        Show me
                    </a>
                    <app-save-btn (click)="saveClick(recipe)"></app-save-btn>
                </div>
            </article>
        </div>
    </div>
</section>